*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
.active{
  background-color:green;
  color: white;
  transition: 0.2s all ease-in-out;
}
body{
  overflow-x: hidden;
}
:where(ul){
  list-style-type: none;
}
:where(a, a:active,a:visited){
  text-decoration: none;
  color: black;
}
/* NAVIGATION */
nav{
  /* background-color: red; */
  border-bottom: 1px solid rgb(175, 171, 171);
  padding: 1rem;
}
.nav-con{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-con{
  cursor: pointer;
}
.nav-con ul{
  display: flex;
  align-items: center;
}
.nav-con ul li{
  padding-left: 1rem;
  cursor: pointer;
}
.cart-icon{
  color: green;
}
.numbers-of-items-in-cart{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100px;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge{
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}
/* Products */
.product-section{
  margin-top: 6rem;
}
.product-section >h3{
  margin-left: 1.9rem;
}
.filter-btn-con{
  margin: 2rem;
}
.filter-btn{
  width: auto;
  padding: 0.4rem ;
  border-radius: 20px;
  border: 1px solid rgb(170, 165, 165);
  margin-left: 1rem;
  cursor: pointer;
}

.items-grid-con{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  gap: 1rem;
  margin: 0 2rem;
}
.item-con{
  border: 1px solid rgb(168, 165, 165);
  border-radius: 10px;
  width: 30rem;
  height: inherit;
}
.img-con >img{
  width: 100%;
  height: 20rem;
  object-fit: contain;
}
.item-details-con{
  padding: 0.5rem;
}
.item-price-name-con{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating{
  color: green;
}
.item-details-con > button{
  width: 7rem;
  border-radius: 20px;
  padding: 0.4rem 0;
  border: 1px solid green;
  cursor: pointer;
}
.item-details-con > button:active{
  background-color: green;
  color: white;
  transition: 0.3s ease;
}
@media (max-width:1309px) {
  .item-con{
    width: 23rem;
    
  }
}
@media (max-width:1175px) {
  .item-con{
    width: 21rem;
    
  }
}
@media (max-width:1083px) {
  .item-con{
    width: 19rem;
    
  }
}
@media (max-width:983px) {
  .items-grid-con{
    margin: 0 0.5rem;
    
  }
  .item-con{
    width: 18rem;
    
  }
}

@media (max-width:907px) {
  .item-con{
    width: 16.5rem;
    
  }
}

@media (max-width:859px) {
  .item-con{
    width: 15.5rem;
    
  }
}

@media (max-width:803px) {
  .item-con{
    width: 14.5rem;
    
  }
}

@media (max-width:751px) {
  .item-con{
    width: 13.5rem;
   
    
  }
}

@media (max-width:695px) {
  .item-con{
    width: 12.5rem;
   
    
  }
}
@media (max-width:663px) {
  .items-grid-con{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .item-con{
    width: 100%;
   
    
  }
  .filter-btn-con{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin: 0rem;
    width: 100%;
  }
  .items-grid-con{
    margin-top: 2rem;
  }
}
@media (max-width:533px) {
  .filter-btn-con{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin: 0rem;
    width: 100%;
  }
}

@media (max-width:527px) {
  .filter-btn-con{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin: 0rem;
    width: 100%;
    column-gap: 1rem;
  }
  .filter-btn-con button{
    margin: 0;
  }
}

@media (max-width:511px) {
  .filter-btn-con{
    display: flex;           
  overflow-x: auto;        
  white-space: nowrap; 
    column-gap: 1rem;
    margin-top: 1rem;
  }
  .filter-btn{
    width: auto;
    margin-bottom: 1rem;
    
   
  }
  
}
